.single-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.single-cell {
  width: 400px;
  margin-right: 100px;
}

.search-box {
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 3%;
  margin-right: 3%;
  border: 1px solid #d9e2ea;
  border-radius: 8px
}

.home-button {
  width: 200px;
  margin-right: 100px
}
