.single-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.single-cell {
  width: 400px;
  margin-right: 100px;
}

.home-button {
  width: 200px;
  margin-right: 100px
}
